li {
  list-style: none;
}

ul {
  padding: 0;
}

li a {
  color: rgb(206, 206, 206);
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#formDiv div {
  display: flex;
  min-height: auto;
  height: auto;
  flex-direction: column;
  line-height: inherit;
  padding: 0;
}

#contactSpan {
  width: 100%;
}

#submit {
  border: none;
  background-color: rgb(255, 255, 140);
  color: rgb(20, 20, 20);
  width: 100%;
  font-family: "ClashGrotesk-Bold";
  height: 4vh;
  margin-top: 3%;
}
