.outerDiv {
  display: flex;
}

.mainContent {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.txt {
  white-space: break-spaces;
  line-height: inherit;
}

@media screen and (max-width: 1024px) {
  .mainContent {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }
}
