.mainList {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 0px;
  height: 80vh;
  align-items: start;
}

li span {
  line-height: inherit;
  white-space: break-spaces;
  line-height: inherit;
}
