@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&family=Zen+Antique&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Shippori Antique";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
